{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "import/prefer-default-export": 0
  },
  "parser": "babel-eslint"
}